/* TAB BLOCKS */
.tabs ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 -0.25rem 0 0;
  padding: 0;
}

.tabs li {
  align-items: center;
  border: 1px solid var(--color-brand-black);
  border-bottom: 0;
  cursor: pointer;
  display: flex;
  font-weight: 300;
  height: 2.5rem;
  line-height: 1;
  margin-right: 0.25rem;
  padding: 0 1.5rem;
  position: relative;
}
.tabs li.is-active {
  font-weight: bold;
  background-color: #fff;
  color: #151515;
}

.tabs.ulist li {
  margin-bottom: 0;
}

.tabs li + li {
  margin-top: 0;
}

.tabset.is-loading .tabs li:not(:first-child),
.tabset:not(.is-loading) .tabs li:not(.is-active) {
  background-color: #151515;
  color: #fff;
}

.tabset > .content {
  border: 1px solid var(--color-brand-gray);
  padding: 1.25rem;
  background-color: #fff;
}

.tabset.is-loading .tab-pane:not(:first-child),
.tabset:not(.is-loading) .tab-pane:not(.is-active) {
  display: none;
}

.tab-pane > :first-child {
  margin-top: 0;
}
