@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  src:
    url(~typeface-overpass/files/overpass-latin-400.woff2) format('woff2'),
    url(~typeface-overpass/files/overpass-latin-400.woff) format('woff');
}

@font-face {
  font-family: 'OverPass';
  font-style: italic;
  font-weight: 400;
  src:
    url(~typeface-overpass/files/overpass-latin-400italic.woff2)
    format('woff2'),
    url(~typeface-overpass/files/overpass-latin-400italic.woff) format('woff');
}

@font-face {
  font-family: 'OverPass';
  font-style: normal;
  font-weight: 600;
  src:
    url(~typeface-overpass/files/overpass-latin-600.woff2) format('woff2'),
    url(~typeface-overpass/files/overpass-latin-600.woff) format('woff');
}

@font-face {
  font-family: 'OverPass';
  font-style: italic;
  font-weight: 600;
  src:
    url(~typeface-overpass/files/overpass-latin-600italic.woff2)
    format('woff2'),
    url(~typeface-overpass/files/overpass-latin-600italic.woff) format('woff');
}
